<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPu1a2_DiegoMoreno"
        tools:targetApi="31">
        <activity
            android:name=".Matriz"
            android:exported="false"
            android:label="@string/title_activity_matriz"
            android:theme="@style/Theme.APPu1a2_DiegoMoreno" />
        <activity
            android:name=".Encuesta2Activity"
            android:exported="false"
            android:label="@string/title_activity_encuesta2"
            android:theme="@style/Theme.APPu1a2_DiegoMoreno" />
        <activity
            android:name=".Encuesta1Activity"
            android:exported="false"
            android:label="@string/title_activity_encuesta1"
            android:theme="@style/Theme.APPu1a2_DiegoMoreno" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.APPu1a2_DiegoMoreno">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>